script(src="js/project.js")
script.
  $(document).foundation();
script.
  $(document).ready(function(){
    $('.social-feed-container').socialfeed({

        // VK
        vk:{
            accounts: ['@125936523','#teslamotors'],
            limit: 2,
            source: 'all'
        },
        // BLOGSPOT
        /*blogspot:{
            accounts:['@iman-khaghanifar']
        },*/
        // GENERAL SETTINGS
        length:400,
        show_media:true,
        // Moderation function - if returns false, template will have class hidden
        moderation: function(content){
            return  (content.text) ? content.text.indexOf('fuck') == -1 : true;
        },
        //update_period: 5000,
        // When all the posts are collected and displayed - this function is evoked
        callback: function(){
            console.log('all posts are collected');
        }
    });
  });
