/////////////////////////////////////////////
// Zurb Foundation specific settings
/////////////////////////////////////////////

// Only load the parts of Foundation that we need.
// Bloat be gone!

// These are on by default for the start of every project.
$include-html-classes: true;
$include-print-styles: true;
$include-html-global-classes: true;
$include-html-grid-classes: true;
$include-html-type-classes: true;
$include-html-alert-classes: true;

// These are all optional
$include-open-sans: false;
$include-html-accordion-classes: false;
$include-html-nav-classes: false;
$include-html-button-classes: false;
$include-html-clearing-classes: false;
$include-html-dropdown-classes: false;
$include-html-media-classes: false;
$include-html-form-classes: true;
$include-html-inline-list-classes: false;
$include-html-joyride-classes: false;
$include-html-label-classes: false;
$include-html-magellan-classes: false;
$include-html-orbit-classes: false;
$include-html-panel-classes: false;
$include-html-pricing-classes: false;
$include-html-reveal-classes: false;
$include-html-table-classes: false;
$include-html-tabs-classes: false;
$include-html-tooltip-classes: false;
$include-html-top-bar-classes: false;
$include-html-visibility-classes: false;

